In [1]:
%autosave 30
import pandas as pd
import numpy as np
import requests
import xlsxwriter
import math
import json

Autosaving every 30 seconds

In [2]:
api_url=f'https://nepse-data-api.herokuapp.com/data/todaysprice'
data=requests.get(api_url).json()

In [3]:
price=[]
for d in data:
    price.append(d['companyName'])

In [4]:
keys=(data[1].keys())

In [5]:
k=[]
for key in keys:
    k.append(key)

In [6]:
my_columns=k
final_dataframe=pd.DataFrame(columns=my_columns)

In [7]:
for singleData in data:
        final_dataframe=final_dataframe.append(
    pd.Series(
        data=singleData 
    ,
        index=my_columns),
        ignore_index=True
    )

In [8]:
final_dataframe

,companyName,noOfTransactions,maxPrice,minPrice,closingPrice,tradedShares,amount,previousClosing,difference
0,10% Laxmi Bank Debenture 2086,5,1055.0,1050.0,1055.0,131,137700.0,1050.0,5.0
1,10% Prabhu Bank Debenture 2084,2,1053.0,1051.0,1053.0,75,78925.0,1051.0,2.0
2,10.25% Prabhu Bank Debenture 2086,2,1060.0,1060.0,1060.0,50,53000.0,1060.0,0.0
3,10.25% SBL Debenture 2083,1,1060.0,1060.0,1060.0,25,26500.0,1050.0,10.0
4,10.35% Agricultural Bank Debenture 2083,7,1070.0,1050.0,1060.0,375,397125.0,1052.0,8.0
...,...,...,...,...,...,...,...,...,...
211,UNIVERSAL POWER COMPANY LTD,780,216.0,198.0,199.0,228912,45897734.0,206.0,-7.0
212,Unnati Sahakarya Laghubitta Bittiya Sanstha Li...,62,2530.0,2461.0,2499.0,3191,7947841.0,2559.0,-60.0
213,Upper Tamakoshi Hydropower Ltd,1290,840.0,819.0,823.0,139928,115806008.0,840.0,-17.0
214,Vijaya laghubitta Bittiya Sanstha Ltd.,312,1870.0,1828.0,1840.0,12700,23468380.0,1893.0,-53.0
215,Womi Microfinance Bittiya Sanstha Ltd.,151,1736.0,1706.0,1713.0,8660,14854792.0,1736.0,-23.0

In [9]:
writer = pd.ExcelWriter('/home/cool/Desktop/Nepse.xlsx', engine='xlsxwriter')
final_dataframe.to_excel(writer, sheet_name='My trading', index = False)
background_color = '#0a0a23'
font_color = '#ffffff'

In [10]:
writer.save()